.Rproj.user
.Rhistory
.RData
inst/doc
inst/WORDLIST
aaa\.Rmd*
# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# Output files from R CMD build
/*.tar.gz
# vim files
.env
.*.un~
.*.swp
# compiled object files
*.o
*.so
# others
.claude
